@using Voting.Data
@inject PollService PollService

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
@code
{
	[Parameter] public string ClientIP { get; set; }
	protected override Task OnInitializedAsync()
	{
		PollService.Initialize(ClientIP);
		return base.OnInitializedAsync();
    }
}
